<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.libi">


    <!--<uses-sdk tools:overrideLibrary="com.ezvizuikit.open"/>-->
    <!--<uses-sdk tools:overrideLibrary="com.videogo"/>-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="11551111" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="plE8e5bxfGYGjefOG6h1ddMU" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="IoZdB01rfcTDBAGkeE6jImGFc1dIG55u" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DeskTopActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".ui.WebActivty"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ui.NoteActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionServiceu"
            android:exported="false" />
        <!--<service android:name=".ui.service.MusicService">-->
        <!--</service>-->

    </application>
    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>



</manifest>